.color-gold {
  color: gold;
}

.color-silver {
  color: silver;
}

.color-bronze {
  color: #bf8970;
}

.col-3 img{
  width: 100px;
}

.col-4 img {
  width: 150px;
}

.back {
  left: 0;
  position: absolute;
  top: 0;
}
